<h1>Listado De Héroes</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxFlex="30" 
    fxFlex.lg="15"
    fxFlex.sm="40"
    *ngFor="let heroe of heroes">
        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
    </div>
</div>























<!-- <ul>
    <li *ngFor="let heroe of heroes">
        {{heroe.superhero}}
    </li>
</ul> -->